/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*=============== VARIAVEIS CSS ===============*/
:root {
    --header-height: 3rem;
    /*========== Cores ==========*/
    --degrade-principal: linear-gradient(90deg, #85b327 0%, #5a791a 100%); 
    --cor-clara-texto: #2a00ff;
    --cor-principal: #04ac00;
    --cor-secundaria: #f0ff00;
    --cinza-escuro: #3e413e;
    --cinza-claro: #c9ccca;
    --body-color: #fafffa;

    /*========== Fontes e tipografia ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --fonte-corpo: 'Poppins', sans-serif;;
    --tamanho-normal-fonte: .938rem;
    --tamanho-medio-fonte: .813rem;
    --tamanho-pequeno-fonte: .75rem;
    /*========== Font weight ==========*/
    --fonte-medium: 500;
    --fonte-semi-bold: 600;
    --fonte-bold: 700;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }

  @media screen and (min-width: 1024px) {
    :root {
      --tamanho-normal-fonte: 1rem;
      --tamanho-medio-fonte: .875rem;
      --tamanho-pequeno-fonte: .813rem;
    }
  }

/*=============== FORMATAÇÃO ===============*/ 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html{
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--fonte-corpo);
    font-size: var(--tamanho-normal-fonte);
    background-color: var(--body-color);
    color: var(--cinza-escuro);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }



/*=============== HEADER ===============*/ 
.header{
  background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 16px #0000003a;
    z-index: var(--z-fixed);
}

/*=============== NAV ===============*/ 
.container{
    height: 4rem;
    margin: 0 60px;
}

.nav__logo, #nav__logo{ 
    width: 90px;
}

.nav__burger, .nav__close{
    color: var(--cor-principal);
}

.nav__data{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__logo{
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    margin-left: 40px;
}

.nav__toggle{
    position: relative;
    width: 32px;
    height: 32px;
}

.nav__burger, .nav__close{
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}

.nav__close{
    opacity: 0;
}

/*Navegação para dispositivos móveis*/
@media screen and (max-width: 1716px) {
  .nav__menu{
    position: absolute;
    left: 0;
    top: 3rem;
    width: 100%;
    background-color: rgba(2, 2, 2, 0.514);
    height: calc(100vh - 3rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s
  }

  .nav__menu::-webkit-scrollbar{
    width: 0;
  }

  .nav__list{
    background-color: white;
    padding-top: 1rem;

  } 
}

.nav__link{
  color: var(--cor-principal);
  background-color: white;
  font-weight: var(--fonte-semi-bold);
  padding: 1.25rem 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}

.nav__link:hover{
  background-color: var(--cor-clara-texto);
  color: white;
}

/*APARECER MENU*/
.aparecer-menu{
  opacity: 1;
  top: 3rem;
  pointer-events: initial;
}

/*MOSTRAR ICONE*/
.show-icon .nav__burger{
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__close{
  opacity: 1;
  transform: rotate(90deg);
}


/*MENU PARA DISPOSITIVOS MENORES*/
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }

}

@media screen and (max-width: 500px){
  .nav__logo{
    margin-left: -10px;
  }
}

/*MENU PARA DISPOSITIVOS GRANDES*/

@media screen and (min-width: 1716px){
  .container {
    margin-inline: auto;
    margin: 0 60px 0 30px;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }

  .nav__toggle{
    display: none;
  }

  .nav__list{
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  
  .nav__link{
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
    font-size: 1;
  }

  .nav__link:hover{
    background-color: white;
    color: var(--cor-clara-texto);
  }

}

/*=============== MAIN ===============*/ 

/*=============== SEÇÃO 1 ===============*/ 
.section-1{
    margin-top: 4em;
}

.section-1-carrossel {
    overflow: hidden;
    position: relative;
}

.section-1-carrossel a img {

    width: 100%;
}
.carrossel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carrossel-item {
    min-width: 100%;
    box-sizing: border-box;
}
.carousel-indicators {
    text-align: center;
    margin-top: 10px;
}
.carousel-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    
}
.carousel-indicator.active {
    background-color: #333;
}

/*=============== SEÇÃO 2 ===============*/
.section-2{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
}

.section-2-container {
    margin: auto;
    justify-content: center;
    width: 600px;
    text-align: center;
    gap: 30px;
}

.section-2-container h2 {
    font-size: 1.9em;
    margin: 10px 0 15px 0;
}

.section-2-container h4 {
    font-size: 1.5em;
    color: #04ac00;
}

b {
  color: #04ac00;
}

.section-2 a {
    margin-top: 20px;
    background-color: #04ac00;
    padding: 15px;
    border-radius: 20px;
    color: white;
    width: 120px;

}

.section-2-container-link {
  margin: 50px;
}

@media screen and (max-width: 600px) {
  .section-2-container {
      width: 90%;
  }

  .section-2 a {
      width: 100%;
  }
}

/*=============== SEÇÃO 3 ===============*/
.section-3 {
  background-color: #ececec;
  height: 550px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 35px;
}

.section-3-container{
  margin: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}

.section-3-block{
  display: flex;
  justify-content: center;
  gap: 45px;
}

.bloqueimg {
  width: 300px;
  transition: transform 0.5s ease-in-out;
  box-shadow: 5px 5px 5px #33333381;
  border-radius: 15px;
}

.bloqueimg:hover {
  scale: 1.1;

}

@media screen and (max-width: 768px) {
  .section-3 {
      height: auto;
  }

  .section-3-container {
      margin: 20px;
      gap: 20px;
  }

  .section-3-block {
      flex-direction: column;
      align-items: center;
      gap: 20px;
  }

  .bloqueimg {
      width: 80%;
  }
}

/*=============== SEÇÃO 4 ===============*/
.section-4 {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 35px;
}

.section-4-container {
  margin: 20px; 
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 10px;
}

.section-4-container h2 {
  margin-top: 15px;
  font-size: 1.5em;
}

.section-4-galery {
  margin-top: 20px; 
  display: grid;
  grid-template-columns: repeat(1, minmax(150px, 1fr));
  gap: 10px;
}

.section-4-galery img {
  cursor: pointer;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.section-4-galery img:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .section-4-container {
      width: 900px; 
  }

  .section-4-galery {
      grid-template-columns: repeat(5, 1fr);
  }
}

/*=============== MODAL PARA GALERIA ===============*/
.modal {
  display: none;
  position: fixed;
  z-index: 5000; 
  padding: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  z-index: 6000; 
}

.close:hover {
  color: #bbb;
}


/*=============== FOOTER ===============*/
.detalhe-linha{
  display: block;
  height: 1px;
  background: rgba(198, 196, 202, 0.3);
  margin: 40px 350px;
  padding: 0;
}


.footer{
  margin: 40px 350px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footer_content{
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.footer_content__logo img{
  width: 180px;
}

.footer-links ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.footer-links ul li{
  font-size: 1.2em;
}

.footer-links a{
  color: var(--cor-principal);
}

.footer-endereco__text{
  margin-left: 20px;
  margin-top: -20px;
}

#footer_copyright{
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px;
}

.right-footer-side{
  width: 300px;
  display: flex;
  flex-direction: column;

}

.input_group_footer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 40px;
  margin-top: 10px;
}

#input_group input {
  width: 240px;
  border: none;
  background-color: rgb(236, 236, 236);
  padding: 15px;
  border-radius: 90px 0px 10px 90px;
}

#input_group button{
  background-color: var(--cor-principal);
  border: none;
  height: 45px;
  width: 50px;
  border-radius: 0 90px 90px 0px;
  margin-left: -10px;
  margin-top: -10px;
  cursor: pointer;
}

#input_group button i {
  scale: 1.10;
  color: white;
}

.input_group_footer p {
  text-align: end;
  margin-top: -5px;
  margin-bottom: 10px;
}


/*FOOTER RESPONSIVO - 1*/
@media screen and (max-width: 1600px) {
  .footer{
    gap: 40px;
    margin: 40px 100px; 
  }
}

/*FOOTER RESPONSIVO - 2*/

@media screen and (max-width: 1064px) {
  .footer{
    flex-direction: column;
    gap: 80px;
    margin: 40px 100px; 
  }

  .footer_content{
    flex-direction: initial;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .footer-links {
    margin-top: -40px;
    text-align: center;
  }

  .input_group_footer{
    align-items: center;
    text-align: center;
  }

  .input_group_footer p{
    text-align: center;
  }

  .right-footer-side{
    align-items: center;
    text-align: center;
  }

  .sobre-blog{
    gap: 40px;
  }

  .input_group input:focus{
    border: none;
  }
}

/*FOOTER PARA DISPOSITIVOS MENORES*/
@media screen and (max-width: 500px) {
  .footer_content{
    flex-direction: column;
    gap: 50px;
    text-align: center;
    width: 400px;
  }

  .footer-links{
    width: 400px;
  }

  #footer_copyright{
    margin: auto;
    font-size: 15px;
    width: 360px;
    margin-bottom: 30px;

  }
}
